dist: xenial
language: java
jdk:
- oraclejdk11
- openjdk11
script:
- "./gradlew clean build"
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
deploy:
  provider: releases
  api_key:
    secure: QtiVcspJZ3QI/LQyuJ4IG5f52NENvU5y74sS1OEdNOA5tewwjDvxoSderm1K2ZMtp4dc8u1F4NWqKIaFl6UCPAo7QHsDuE74aKR1eHzlKRVWopY1LuOSggR5+v38QUeDE2CC5/L7gnsSM0xEKkyUoJeeV7/p0gKpXo0W34rmzrS6GmMvVBwz+HLPIGV6WdVtqdOTuRNe9mlIaQsCuqRj1PzlD684ksfxUqR6kaNURX1iqtvFQZVRtM27XYftowPvd2A3inzbLM9U1nCCaKafKoVbaHmBjzRZZw18/fjrixk7N3luFRXipb18cWkYsAjY7iDN5Q+NpLlrjODPQYNckiAT3s9kmddgz1TYUm6c+vZppQYnLFDD5CsjsNr3UwnMBYI4I75nZVdLraWFvtRyjKtMJQ8cyOdUMOYvPuPg3p/ym+UQSlZhVEzLPoHILfS0r2/uTH7q5QDakBlKCHQa1wqRiB04goQuft7bBKtpJjdbVqXpV+pFFgaiCD6wO17pWu7TXHhyS4u0dffA0xjnz9vSQdCYPdBMz6hev+n1Y+znqZL3S86tmBvvLrixM1fbU8hqR9kYiuLgj3t7le3gnCPd8nkkLcNae8RtIR0GVNwgwGMGrlI2TgbH2H+iV6fQnl0XHLx/HWxtvw4P/KnTDNeRUIgFayM50XhjXRBKrD4=
  file_glob: true
  file:
    - "/home/travis/build/pacphi/cf-hoover-ui/build/libs*"
  skip_cleanup: true
  on:
    repo: pacphi/cf-hoover-ui
    tags: true
